.mutant {
    font-family: monospace;
}
th.rotated {
    transform: /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
    width: 30px;
}
.borderless td,
.borderless th {
    border: none;
}
