<div class="jumbotron">
	<h1>Karaktärsgeneratorn av Jensim</h1>
	<p>Ett verktyg för att generera rollspelskaraktärer som sparas på din telefon eller dator, så att du kan använda den när du spelar, varje gång.</p>
	<p>Jag skriver koden helt öppet, så du är välkommen att granska, bidra eller skapa din egen version av sidan.</p>
	<p><a href="https://github.com/jensim/chargen-ng">Källkod på Github <i class="fa fa-github"></i></a></p>
	<p>Jag lagrar myecket av datan för sidan på din dator eller mobil mellan körningarna. Du kan trigga omladdning av den datan genom att pilla på
		<button class="btn btn-danger" data-ng-click="resetCachedItems()">"KNAPPEN" <i class="fa fa-trash-o"></i></button>
	</p>
	<div class="input-group">
		<diceroller class="input-group-addon" dice="{{leDice}}"></diceroller>
		<input data-ng-model="leDice" type="text" size="10" class="form-control" placeholder="1D6 1D4 +2" data-ng-init="leDice='1D6 1D4 +2'">
	</div>
</div>
