<div class="row mutant">
    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-hide="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Skapa ny karakt&auml;r</h3>
            </div>
            <div class="panel-body">
                <form name="mutantCreateCharForm" data-ng-submit="mutantCreateCharForm.$valid && createCharacter()">
                    <div class="form-group">
                        <label for="createInputClass">Klass:</label>
                        <select class="form-control" data-ng-model="create.klass" name="Klass" required="true" data-ng-required="true" id="createInputClass" data-ng-options="klass.name for klass in gameClasses">
                        </select>
                        <div class="list-group" data-ng-show="create.klass.description">
                            <a class="list-group-item">
                                <b>Beskrivning:</b> {{create.klass.description}}
                            </a>
                        </div>
                        <span data-ng-show="mutantCreateCharForm.Klass.$error.required" class="label label-danger">
                        Obligatoriskt fält...
                    </span>
                    </div>
                    <div class="form-group">
                        <label for="createInputJob">Yrke:</label>
                        <select class="form-control" data-ng-model="create.job" name="Yrke" required="true" data-ng-required="true" id="createInputJob" data-ng-options="job.name for job in gameJobs">
                        </select>
                        <div class="list-group" data-ng-show="create.job.description">
                            <a class="list-group-item">
                                <b>Beskrivning:</b> {{create.job.description}}
                            </a>
                        </div>
                        <span data-ng-show="mutantCreateCharForm.Yrke.$error.required" class="label label-danger">
                        Obligatoriskt fält...
                    </span>
                    </div>
                    <div class="btn-group pull-right" role="group">
                        <button class="btn btn-default btn-md" data-ng-click="create=undefined">Återställ formulär</button>
                        <button class="btn btn-primary btn-md" data-ng-disabled="mutantCreateCharForm.$invalid">Skapa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="gameCharacters">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ladda sparad karakt&auml;r
                <span class="glyphicon glyphicon-minus pull-right" data-toggle="collapse" data-target="#loadCharacterBody"></span>
            </h3>
            </div>
            <div class="panel-body collapse in" id="loadCharacterBody">
                <div class="list-group" data-ng-repeat="character in gameCharacters">
                    <a class="list-group-item clearfix">
                        <span class="glyphicon glyphicon-file"></span> {{character.name}}
                        <span class="pull-right">
                        <button class="btn btn-xs btn-info" data-ng-click="loadCharacter(character)">
                        <span class="glyphicon glyphicon-cloud-download"></span> Ladda
                        </button>
                        <button class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        </span>
                    </a>
                </div>
                <button class="btn btn-sm btn-info pull-right" data-ng-click="loadCharacter()" data-ng-disabled="activeCharacter === undefined">
                    <span class="glyphicon glyphicon-plus"></span> Skapa ny
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Grundegenskaper
                    <i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantAttrPrimFormEdit = !mutantAttrPrimFormEdit"></i>
                </h3>
            </div>
            <div class="panel-body" data-ng-init="mutantAttrPrimFormEdit=false">
                <div data-ng-repeat="a in activeCharacter.attrPrim">
                    <div data-ng-hide="mutantAttrPrimFormEdit">
                        {{a.name}} ({{a.short}}): {{a.value}} / {{a.mod}} <i class="fi-die-three"></i>
                    </div>
                    <div data-ng-show="mutantAttrPrimFormEdit">
                        {{a.name}} ({{a.short}}):
                        <input ng-model="a.value" maxlength="2" size="2" min="0" type="number">>
                        <input ng-model="a.mod" maxlength="2" size="2" min="0" type="number">>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sekundära egenskaper
                    <i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantAttrSecFormEdit = !mutantAttrSecFormEdit"></i>
                    <div class="pull-right">&nbsp;</div>
                    <i class="fa fa-calculator pull-right"></i>
                </h3>
            </div>
            <div class="panel-body">
                <div data-ng-repeat="a in activeCharacter.attrSec">
                    <div data-ng-hide="mutantAttrSecFormEdit">
                        {{a.name}} {{a.value}}
                    </div>
                    <div data-ng-show="mutantAttrSecFormEdit">
                        {{a.name}}
                        <input ng-model="a.value" maxlength="2" size="2" min="0" type="number">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Färdigheter
                    <i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantSkillFormEdit = !mutantSkillFormEdit"></i>
                    <div class="pull-right">&nbsp;</div>
                    <i class="glyphicon glyphicon-info-sign pull-right" data-ng-show="mutantSkillFormEdit"></i>
                </h3>
            </div>
            <div class="panel-body">
                <div data-ng-show="mutantSkillFormEdit">
                    name, (), sp,sp2,erf,erf2,natural,delete
                </div>
                <div data-ng-repeat="a in activeCharacter.skills | orderBy:['-natural','name']">
                    <div data-ng-hide="mutantSkillFormEdit">
                        {{a.name}} ({{a.attrPrim.short}}): {{skillSum(a)}}
                    </div>
                    <div data-ng-show="mutantSkillFormEdit">
                        {{a.name}} ({{a.attrPrim.short}}):
                        <input type="number" data-ng-model="a.valueSp" maxlength="2" size="2" min="0">
                        <input type="number" data-ng-model="a.valueSpFree" maxlength="2" size="2" min="0">
                        <input type="number" data-ng-model="a.valueErf" maxlength="2" size="2" min="0">
                        <input type="number" data-ng-model="a.valueErfFree" maxlength="2" size="2" min="0">
                        <input type="checkbox" data-ng-model="a.natural"> {{skillSum(a)}} {{getSkillUsedErf(a)}}
                        <button class="btn btn-xs btn-warning">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vapen
                    <i class="glyphicon glyphicon-cog pull-right"></i>
                </h3>
            </div>
            <div class="panel-body">
                something
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Rustning
                    <i class="glyphicon glyphicon-cog pull-right"></i>
                </h3>
            </div>
            <div class="panel-body">
                something
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ägodelar
                    <i class="glyphicon glyphicon-cog pull-right"></i>
                </h3>
            </div>
            <div class="panel-body">
                something
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="activeCharacter">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Strid - snabbverktyg
                    <i class="glyphicon glyphicon-cog pull-right"></i>
                </h3>
            </div>
            <div class="panel-body">
                something
            </div>
        </div>
    </div>
</div>
{{activeCharacter | json}}
