<div class="row mutant">
	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-hide="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Skapa ny karakt&auml;r</h3>
			</div>
			<div class="panel-body">
				<form name="mutantCreateCharForm">
					<div class="form-group">
						<label for="createInputClass">Klass:</label>
						<select class="form-control" data-ng-model="create.char.klass" name="Klass" required="true" data-ng-required="true" id="createInputClass" data-ng-options="klass.name for klass in flatData.klasses"></select>
						<div class="list-group" data-ng-show="create.char.klass.description">
							<a class="list-group-item">
								<b>Beskrivning:</b> {{create.char.klass.description}}
							</a>
						</div>
						<span data-ng-show="mutantCreateCharForm.Klass.$error.required" class="label label-danger">
                        	Obligatoriskt fält...
                    	</span>
					</div>
					<div class="form-group">
						<label for="createInputJob">Yrke:</label>
						<select class="form-control" data-ng-model="create.char.job" name="Yrke" required="true" data-ng-required="true" id="createInputJob" data-ng-options="job.name for job in flatData.jobs"></select>
						<div class="list-group" data-ng-show="create.char.job.description">
							<a class="list-group-item">
								<b>Beskrivning:</b> {{create.char.job.description}}
							</a>
						</div>
						<span data-ng-show="mutantCreateCharForm.Yrke.$error.required" class="label label-danger">
                        	Obligatoriskt fält...
                    	</span>
					</div>
					<div class="btn-group pull-right" role="group">
						<button class="btn btn-default btn-md" data-ng-click="create.char=undefined">Återställ formulär</button>
						<button class="btn btn-primary btn-md" data-ng-disabled="mutantCreateCharForm.$invalid" data-ng-click="createCharacter()">
							Skapa
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Karaktär: {{storage.activeCharacter.name}}</h3>
			</div>
			<div class="panel-body">
				Namn:
				<input ng-model="storage.activeCharacter.name" type="text">
			</div>
			<div class="panel-heading">
				<h3 class="panel-title">Stats</h3>
			</div>
			<div class="panel-body">
				<p>
					Använd GrundEgenskapPoäng (GE): {{getUsedGE()}} / {{storage.activeCharacter.klass.ge}}
					<span class="label label-warning" data-ng-show="getUsedGE() < storage.activeCharacter.klass.ge">Poäng att spendera</span>
					<span class="label label-danger" data-ng-show="getUsedGE() > storage.activeCharacter.klass.ge">Över max</span>
				</p>
				<p>
					Använd SkapelsePoäng (SP): {{getUsedSP()}} / 30
					<div class="text-warning" data-ng-show="getUsedSP() < 30">
						<span class="label label-warning">Poäng att spendera</span> &nbsp;Köp färdigheter och förmågor för dina skapelsepoäng.
					</div>
					<span class="label label-danger" data-ng-show="getUsedSP() > 30">Över max</span>
				</p>
				<p>
					Använd Erfarenhet (Erf): {{getUsedErf()}}
				</p>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Grundegenskaper
                    <i data-ng-class="mutantAttrPrimFormEdit ? 'text-danger' : ''">
						<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantAttrPrimFormEdit = !mutantAttrPrimFormEdit"></i>
					</i>
                    <div class="pull-right">&nbsp;</div>
                    <diceroller dice="1D100" class="pull-right" />
                </h3>
			</div>
			<div class="panel-body" data-ng-init="mutantAttrPrimFormEdit=false">
				<p data-ng-show="mutantAttrPrimFormEdit" style="text-align: right; width: 100%;" class="text-primary">
					GE &nbsp;tränad mod
				</p>
				<ul class="list-group row">
					<li class="list-group-item anim-fade" data-ng-repeat="a in storage.activeCharacter.attrPrim">
						<div data-ng-hide="mutantAttrPrimFormEdit">
							{{a.name}} ({{a.short}}): {{a.value + a.trained}}
							<div data-ng-show="a.mod > 0">&nbsp;+ {{a.mod}}</div>
							<div data-ng-show="a.mod < 0">&nbsp;{{a.mod}}</div>
						</div>
						<div data-ng-show="mutantAttrPrimFormEdit">
							{{a.name}} ({{a.short}}):
							<input ng-model="a.mod" maxlength="2" size="2" min="0" type="number" class="pull-right">
							<input ng-model="a.trained" maxlength="2" size="2" min="0" type="number" class="pull-right">
							<input ng-model="a.value" maxlength="2" size="2" min="0" type="number" class="pull-right">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Sekundära egenskaper
					<i data-ng-class="mutantAttrSecFormEdit ? 'text-danger' : ''">
                    	<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantAttrSecFormEdit = !mutantAttrSecFormEdit"></i>
					</i>
                    <div class="pull-right">&nbsp;</div>
                    <i class="glyphicon glyphicon-info-sign pull-right" data-ng-click="mutantAttrSecFormInfo = !mutantAttrSecFormInfo" data-ng-hide="mutantAttrSecFormEdit"></i>
                    <div class="pull-right">&nbsp;</div>
                    <i class="fa fa-calculator pull-right" data-ng-click="calcSecAttr()" data-ng-show="mutantAttrSecFormEdit"></i>
                    <div class="pull-right">&nbsp;</div>
                    <diceroller dice="1D100" class="pull-right" data-ng-hide="mutantAttrSecFormEdit"></diceroller>
                </h3>
			</div>
			<div class="panel-body">
				<ul class="list-group row">
					<li class="list-group-item anim-fade" data-ng-repeat="a in storage.activeCharacter.attrSec">
						<div data-ng-hide="mutantAttrSecFormEdit">
							{{a.name}} {{a.value}}
						</div>
						<div data-ng-show="mutantAttrSecFormEdit">
							{{a.name}}
							<input ng-model="a.value" maxlength="4" size="4">
							<i class="fa fa-calculator pull-right" data-ng-click="calcSecAttr(a)"></i>
							<br/>

						</div>
						<div class="text-primary" style="font-size: 0.8em;" data-ng-show="mutantAttrSecFormEdit||mutantAttrSecFormInfo">
							{{a.description}}
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Färdigheter
					<i data-ng-class="mutantSkillFormEdit ? 'text-danger' : ''">
                    	<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantSkillFormEdit = !mutantSkillFormEdit"></i>
					</i>
                    <div class="pull-right">&nbsp;</div>
                    <diceroller dice="1D100" class="pull-right" />
                    <div class="pull-right">&nbsp;</div>
                    <i class="glyphicon glyphicon-info-sign pull-right" data-ng-show="mutantSkillFormEdit"></i>
                </h3>
			</div>
			<div class="panel-body">
				<div data-ng-show="mutantSkillFormEdit">
					<a class="text-primary">namn</a>
					<a class="pull-right text-primary">sp &lt;free erf &lt;free n/t T&nbsp; &nbsp; &nbsp;</a>

				</div>
				<ul class="list-group row">
					<li class="list-group-item anim-fade" data-ng-repeat="a in storage.activeCharacter.skills | orderBy:['-postTrained','-natural','name']">
						<div data-ng-hide="mutantSkillFormEdit">
							{{a.name}} ({{a.attrPrim}}): {{skillSum(a)}}
						</div>
						<div data-ng-show="mutantSkillFormEdit">
							{{a.name}} ({{a.attrPrim}}):
							<button class="btn btn-xs btn-warning pull-right" data-ng-click="deleteSkill(a)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
							<i class="pull-right">&nbsp;</i>
							<input type="checkbox" data-ng-model="a.postTrained" class="pull-right">
							<i class="pull-right">&nbsp;</i>
							<input type="checkbox" data-ng-model="a.natural" class="pull-right">
							<i class="pull-right">&nbsp;</i>
							<input type="number" data-ng-model="a.valueErfFree" maxlength="2" size="2" min="0" class="pull-right">
							<input type="number" data-ng-model="a.valueErf" maxlength="2" size="2" min="0" class="pull-right">
							<input type="number" data-ng-model="a.valueSpFree" maxlength="2" size="2" min="0" class="pull-right">
							<input type="number" data-ng-model="a.valueSp" maxlength="2" size="2" min="0" class="pull-right">

							<br/> Value: {{skillSum(a)}} Cost:{{getSkillUsedErf(a)}}
						</div>
					</li>
				</ul>

				<div data-ng-show="mutantSkillFormEdit">
					<div class="pull-right" style="display: inline-block;">
						<p>
							<button class="btn btn-primary" data-ng-click="createSkill()">Lägg till färdighet</button>
						</p>
						<p>
							<button class="btn btn-primary" data-ng-click="create.skill = {}">Återställ formulär</button>
						</p>
					</div>

					<div class="input-group">
						<label>Namn</label>
						<input name="create.skill.name" type="text" class="form-control" aria-label="..." data-ng-model="create.skill.name">
					</div>
					<div class="input-group">
						<label class="control-label">GE:</label>
						<select class="form-control" data-ng-options="a.name as a.name for a in flatData.attrPrimShort" data-ng-model="create.skill.attrPrim"></select>
					</div>
					<div class="input-group">
						<label>Ladda färdighet</label>
						<select class="form-control" data-ng-model="create.skill" data-ng-options="s.name for s in flatData.skills"></select>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Vapen</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item anim-fade" data-ng-repeat="w in storage.activeCharacter.weapons | orderBy:[name]" data-ng-click="editWeapon(w)">{{w.name}}</li>
				</ul>
				<div class="pull-right" style="display: inline-block;">
					<p>
						<button class="btn btn-primary btn-sm" data-ng-click="saveWeapon()" data-ng-hide="weaponEdit" data-ng-show="create.weapon">
							Spara
						</button>
					</p>
					<p>
						<button class="btn btn-primary btn-sm" data-ng-click="deleteWeapon()" data-ng-show="weaponEdit">
							<span class="glyphicon glyphicon-minus"></span> Ta bort
						</button>
					</p>
					<p>
						<button class="btn btn-primary btn-sm" data-ng-click="create.weapon = {}; weaponEdit=undefined;">
							<span class="glyphicon glyphicon-save-file"></span> Nytt formulär
						</button>
					</p>
				</div>
				<div class="input-group">
					<label>VAPEN: </label>
					<input name="weaponName" data-ng-model="create.weapon.name" type="text">
				</div>
				<div class="input-group">
					<label>FATTN: </label>
					<input name="weaponFattn" data-ng-model="create.weapon.fattn" type="text">
				</div>
				<div class="input-group">
					<label>INIT: </label>
					<input name="weaponInit" data-ng-model="create.weapon.init" type="number">
				</div>
				<div class="input-group" style="display: inline-block;">
					<label>SKADA: </label>
					<input name="weaponDice" data-ng-model="create.weapon.damage" type="text">
				</div>
				<diceroller dice="{{create.weapon.damage}}"></diceroller>
				<div class="input-group">
					<label>PEN: </label>
					<input name="weaponPen" data-ng-model="create.weapon.penetration" type="number">
				</div>
				<div class="input-group">
					<label>RÄCKVIDD: </label>
					<input name="weaponReach" data-ng-model="create.weapon.reach" type="text">
				</div>
				<div class="input-group">
					<label>TÅL: </label>
					<input name="weaponDur" data-ng-model="create.weapon.durabillity" type="text">
				</div>
				<div class="input-group">
					<label>PÅL: </label>
					<input name="weaponDep" data-ng-model="create.weapon.dep" type="number">
					<label>/MAX: </label>
					<input name="weaponDepMax" data-ng-model="create.weapon.depmax" type="number">
				</div>
				<div class="input-group">
					<label>VIKT: </label>
					<input name="weaponWeight" data-ng-model="create.weapon.weight" type="number">
				</div>
				<div class="input-group">
					<label>AMMO</label>
					<input name="weaponAmmo" data-ng-model="create.weapon.ammo" type="number">
					<label>/MAX</label>
					<input name="weaponAmmoMax" data-ng-model="create.weapon.mag" type="number">
				</div>
				<hr/>
				<div class="input-group" data-ng-hide="weaponEdit">
					<label>Ladda vapen</label>
					<select class="form-control" data-ng-model="create.weaponType" data-ng-options="w.name for w in flatData.weapons"></select>
					<select class="form-control" data-ng-model="create.weapon" data-ng-options="w.name for w in create.weaponType.weapons" data-ng-show="create.weaponType"></select>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Förmågor
					<i data-ng-class="mutantPowerFormEdit ? '' : 'text-danger' ">
					 	<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantPowerFormEdit = !mutantPowerFormEdit"></i>
					</i>
				</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item anim-fade" data-ng-repeat="p in storage.activeCharacter.powers | orderBy:['name']" data-ng-click="editPower(p)">
						{{p.name}}
					</li>
				</ul>

				<div data-ng-hide="mutantPowerFormEdit" class="anim-fade">
					<div class="pull-right" style="display: inline-block;">
						<p>
							<button class="btn btn-primary" data-ng-click="deletePower(powerEdit)" data-ng-show="powerEdit">
								Ta bort förmåga
							</button>
						</p>
						<p>
							<button class="btn btn-primary" data-ng-click="createPower()" data-ng-hide="powerEdit">
								Lägg till förmåga
							</button>
						</p>
						<p>
							<button class="btn btn-primary" data-ng-click="create.power={}; powerEdit=undefined;">
								Återställ
							</button>
						</p>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label>Namn</label>
							<input name="create.power.name" type="text" class="form-control" data-ng-model="create.power.name">
						</div>
						<div class="input-group">
							<label for="create.power.cost">Kostnad</label>
							<br/>
							<input name="create.power.cost" type="number" data-ng-model="create.power.cost">
						</div>
						<div class="input-group">
							<label>Beskrivning</label>
							<textarea name="create.power.description" type="text" class="form-control" data-ng-model="create.power.description"></textarea>
						</div>
						<div class="text-danger" data-ng-show="create.power.skill">
							Ny färdighet ({{create.power.skill.attrPrim}})
						</div>
						<div class="input-group" data-ng-hide="powerEdit">
							<label>Ladda förmåga </label>
							<select class="selectpicker form-control" data-ng-model="create.power" data-ng-options="p.name for p in availablePowers()"></select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Rustning
					 <i data-ng-class="mutantArmorFormEdit ? 'text-danger' : '' ">
					 	<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantArmorFormEdit = !mutantArmorFormEdit"></i>
					</i>
				 </h3>
			</div>
			<div class="panel-body">
				Rustning, ABS, BEG: {{calcBeg(i)}}, Vikt
				<div data-ng-repeat="(i, b) in flatData.bodyParts">
					{{b}} ABS: {{calcArmor(i)}}
				</div>
				<div data-ng-show="mutantArmorFormEdit">
					<hr/> RustningsDelar:
					<ul class="list-group">
						<li data-ng-repeat="r in storage.activeCharacter.armors | orderBy:['wearing','bodyPart','name']" data-ng-click="editArmor(r)" class="list-group-item" data-ng-class="r.wearing ? 'active' : ''">
							{{flatData.bodyParts[r.bodyPart]}}: {{r.name}}, ABS: {{r.ABS}}, BEG: {{r.BEG}}, {{r.wearing ? 'På' : 'Av'}}
							<div class="btn btn-xs pull-right" data-ng-class="r.wearing ? 'btn-danger' : 'btn-primary'" data-ng-click="r.wearing=!r.wearing">
								<i class="glyphicon" data-ng-class="r.wearing ? 'glyphicon-minus' : 'glyphicon-plus'"></i>
							</div>
						</li>
					</ul>
					<div data-ng-show="armorEdit" class="form-group">
						<div class="input-group">
							<label>Name:</label>
							<input type="text" class="form-control" data-ng-model="armorEdit.name">
						</div>
						<div class="input-group">
							<label>ABS:</label>
							<input type="number" class="form-control" data-ng-model="armorEdit.ABS">
						</div>
						<div class="input-group">
							<label>BEG:</label>
							<input type="number" class="form-control" data-ng-model="armorEdit.BEG">
						</div>
						<div class="input-group">
							<label>Kroppsdel:</label>
							<select class="selectpicker form-control" data-ng-model="armorEdit.bodyPart" data-ng-options="i as flatData.bodyParts[i] for i in armorEdit.fits"></select>
						</div>

						<button class="btn btn-primary btn-sm" data-ng-click="deleteArmor(armorEdit)">
							Ta bort
						</button>
						<button class="btn btn-primary btn-sm" data-ng-click="armorEdit=undefined;">
							Återställ formulär
						</button>
					</div>
					<div data-ng-hide="armorEdit" class="input-group">
						<label>Ladda rustning</label>
						<select class="selectpicker form-control" data-ng-model="create.armortype" data-ng-options="at.name for at in flatData.armors"></select>
						<select class="selectpicker form-control" data-ng-model="create.armor" data-ng-options="a.name for a in create.armortype.armors" data-ng-show="create.armortype"></select>
						<select class="selectpicker form-control" data-ng-model="create.armor.bodyPart" data-ng-options="i as flatData.bodyParts[i] for i in create.armor.fits" data-ng-show="create.armor"></select>
						<button data-ng-show="create.armor.bodyPart" data-ng-click="createArmor()" class="btn btn-primary btn-sm">
							Lägg till
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Utrustning
                    <i data-ng-class="mutantGearFormEdit ? 'text-danger' : '' ">
					 	<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantGearFormEdit = !mutantGearFormEdit"></i>
					</i>
                </h3>
			</div>
			<div class="panel-body">
				Utrustning, vikt
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Strid - snabbverktyg
                    <i data-ng-class="mutantCombatFormEdit ? 'text-danger' : '' ">
					 	<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantCombatFormEdit = !mutantCombatFormEdit"></i>
					</i>
                </h3>
			</div>
			<div class="panel-body">
				something
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.activeCharacter">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Övrigt
                    <i data-ng-class="mutantMiscFormEdit ? 'text-danger' : '' ">
					 	<i class="glyphicon glyphicon-cog pull-right" data-ng-click="mutantMiscFormEdit = !mutantMiscFormEdit"></i>
					</i>
                </h3>
			</div>
			<div class="panel-body" data-ng-show="storage.activeCharacter.notes">
				<ul class="list-group">
					<li class="list-group-item" data-ng-repeat="n in storage.activeCharacter.notes">
						<span data-ng-click="">
							{{n.header}}
						</span>
						<button class="btn btn-warning pull-right" data-ng-click="storage.activeCharacter.notes.splice($index, 1)">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</li>
				</ul>

				<div class="input-group">
					<label>Rubrik</label>
					<input type="text">
				</div>
				<div class="input-group">
					<label>Innehåll</label>
					<textarea class="form-control" data-ng-model="storage.activeCharacter.notes"></textarea>
				</div>
				<button class="btn btn-primary pull-right">Spara</button>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-6 col-sm-12" data-ng-show="storage.characters && storage.characters.length > 0">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Ladda sparad karakt&auml;r
					<i class="pull-right glyphicon" data-ng-class="loadCharacterBody ? 'glyphicon-minus' : 'glyphicon-plus' " data-ng-click="loadCharacterBody = !loadCharacterBody"></i>
            	</h3>
			</div>
			<div class="panel-body anim-fade" data-ng-show="loadCharacterBody">
				<div class="list-group anim-fade" data-ng-repeat="character in storage.characters">
					<a class="list-group-item clearfix">
						<span class="glyphicon glyphicon-file"></span> {{character.name}}
						<span class="pull-right">
                        <button class="btn btn-sm btn-info" data-ng-click="loadCharacter(character)">
                        <span class="glyphicon glyphicon-cloud-download"></span> Ladda
						</button>
						<button class="btn btn-sm btn-warning" data-ng-click="deleteCharacter(character)">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
						</span>
					</a>
				</div>
				<button class="btn btn-sm btn-info pull-right" data-ng-click="loadCharacter()">
					<span class="glyphicon glyphicon-plus"></span> Skapa ny
				</button>
			</div>
		</div>
	</div>

</div>
<!--{{storage.activeCharacter | json}}-->
